:javascript  
 if('#{object}' == "user" ){  
    var scope = opener.angular.element(opener.$('.scope_use')).scope();  
    scope.$apply(function(){
      scope.artist.stats.likes += 1; 
    });
  } else {
    var all_audio = opener.angular.element(opener.$('audio'));
    var audio_scope = '';
    for(var i =0; i< all_audio.length; i++) {
      if(opener.angular.element(all_audio[i]).scope().audio.id == '#{object_id}'){
         audio_scope = opener.angular.element(all_audio[i]).scope();       
         audio_scope.$apply(function(){
          audio_scope.audio.stats.likes = audio_scope.audio.stats.likes + 1; 
         });       
        break;
      }
    } 
  }
  var crowd_scope = opener.angular.element(opener.$('.crowd_scope')).scope();
  if(!(opener._.isUndefined(crowd_scope) )) {
    console.log(crowd_scope);
    crowd_scope.recd_data.artist_stats = opener.angular.fromJson('#{artist_stats}');
    crowd_scope.recd_data.crowd_stats = opener.angular.fromJson('#{crowd_stats}');
    crowd_scope.$apply();
  }
  window.close();
  
  