- content_for :pre_content
.signup
  .barholder
    %h2.bandname Artist Registration
.content.np
  .leftcol
    .tabholder
      %ul.signuptabs
        %li
          %a{:href => "#/step1", "sub-tab" => "step1"}
            %span.step Step 1
            Enter Contact Information
            .marker
        %li
          %a{:href => "#/register/step2", "sub-tab" => "step2"}
            %span.step> Step 2
            Connect & Customize
            .marker
      .form-err{"ng-show" => "isError()", :style => "width:100%"}
        {{err_message}}
        %a{"href" => "javascript:void(0)", :style => "color:black", "ng-click" => "skipToDashboard()"}skip to dashboard
    / tabholder ends
    %div{"ng-include" => "subtab.url"}
  / leftcol ends
  .rightcol
    #photos.tab2
      .contestbox
        %p.fs24.bold Why is My Music Empire better?
        %p Help text goes here
      .contestbox
        %p.fs24.bold An unique process
        %p Another help goes here
      .cfix
    / tab2 ends
  / rightcol ends
  .cfix
/ content ends