%a.uploadLnk.attach{href: "javascript:void(0)"}
  Add Attachment 
%input.cloudinary-fileupload.pic_file{"data-cloudinary-field" => "image_upload", "data-form-data" => "#{@cloudinary_params}", name: "file", style: "opacity:0; width: 1px; height: 0px; position:absolute; top: -10000px", type: "file"}/
.progressbar{style: "width: 100px; display: none;"}
  .photo_bar