<div ng-controller="BookedEventCtrl">
  <div ng-repeat="booked_event in booked_events">
    <div class="songlist_holder">
    <div class="f24">Date: {{booked_event.start_time | date : 'yyyy-MM-dd HH:mm'}}</div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="songlist">
      <tbody>
        <tr>
          <th>Artist:{{booked_event.artist_first_name + booked_event.artist_last_name}}</th>
          <th>Event:{{booked_event.title}}</th>
          
          <!--TODO - add date in header -->
        </tr>
        <tr ng-repeat="ticket in booked_event.booked_tickets">        
            <td valign="top" colspan="" class="xtraheight">Click/Send this link to join a hangout
            
           
            </td>
            <td><a href="#/hangout/{{booked_event.event_id}}/{{ticket.code}}">{{link_url}}/hangout/{{booked_event.event_id}}/{{ticket.code}}
            </a> </td>
        </tr>                      
      </tbody>
      </table>  
    </div>
  </div>  
  <div class="cfix"></div>  
</div>