<div class="songlist_holder" ng-controller="FundingDtlsCtrl">  
  <div class="form-err" ng-show="isError()">{{err_message}}</div>
  <div class="fs24 m10"> Set your funding goals</div>
  <form name="fundingFrm">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="signuptable">
      <tbody>
       <tr>.
       <td align="right" valign="top" class="xtraheight">Goal Amount</td>
       <td><input type="text" ng-required="true" ng-model="goal_amount"></td>
       </tr>
        <tr>
        <td> Attract CrowdDo-ers by declaring what they get in return</td><td></td></tr>
        <tr ng-repeat="reward in rewards">
            <td valign="top"><span>$</span><input type="text" ng-model="reward.amount"></td>
            <td valign="top"><input type="text" ng-model="reward.comment"></td> 
        </tr>            
        <tr>
          <td valign="top">&nbsp;</td>
          <td valign="top">
            <input class="greenbtn" type="button" href="javascript:void(0)" ng-click="recordFunding()" ng-disabled="fundingFrm.$invalid || disableSubmit" style="padding:10px; font-size:14px; letter-spacing:0;" value="Save"/>
          </td>
        </tr>
      </tbody>
    </table>
  </form>  
  <div class="cfix"></div>  
</div>