<div class="content np">
  <div class="leftcol">

    <div class="songlist_holder"> 
      
      <div class="fs24 m10">My Music List</div>
      <table border="0" class="songlist" width="100%">
      <tbody><tr>
        <th scope="col" width="45%">Song Name</th>
        <th scope="col" width="15%">Length</th>
        <th scope="col" width="40%">Artist</th>
      </tr>
      <tr>
        <td colspan="3" ng-show="!userPlaylists.length"> No Songs Added Yet </td>
      </tr>
      </tbody></table>
      <div ng-repeat="playlist in userPlaylists">
        <div ng-repeat="media in playlist.songs | filter: {media_type: 1}">  
          <playlist-item></playlist-item>
        </div>
        <div class="fs24 m10">My Videos </div>
        <div ng-repeat="media in playlist.songs | filter: {media_type: 2}">  
          <a href="javascript:void(0)" class="delbtn" style="float:right;" ng-click="removeMediaFromPlaylist()" title="Remove from Playlist">Remove</a>
          <div class="video" load-video="{{media.url}}"></div>
        </div>
      </div>
    </div>    
  </div>
    
    
  <div class="rightcol" style="background:none;">
    <div class="tab2 songlist_holder" style="margin:50px 0; ">
      <div class="fs24">Now Playing</div>
      <p>{{nowPlaying.artist.desc}}</p>
      <div class="photoholder">
        <div class="pixholder" ng-repeat="photo in nowPlaying.artist.photos">
          <div cloudinary-url="photo" last-potrait="last_potrait" photos-length="photos_length" itemindex="$index" img-width="360"></div>
        </div>
      </div>  
      <div class="cfix"></div> 


      <div class="contestbox bluebox" ng-switch on="nowPlaying.artist.phase_id">
        <div ng-switch-when="1">
          <div class="f20">Help {{nowPlaying.artist.first_name}} {{nowPlaying.artist.last_name}} get discovered!</div>
          <p class="f20">
            Likes : {{nowPlaying.artist.stats.likes}}  <br />Shares : {{nowPlaying.artist.stats.shares}}  
          </p>
          <a href="javascript:void(0);">
            <input type="button" class="greenbtn" value="Get More Information" ng-click="loadArtistSubPage('social');"/>
          </a> 
        </div>
        <div ng-switch-when="2">
          <div class="f20">Support {{nowPlaying.artist.first_name}} {{nowPlaying.artist.last_name}}!</div>
          <p class="fs24 bold">
            {{nowPlaying.artist.stats.number_of_supporters}} Supporters!  
          </p>
          <p class="fs24 bold">
            {{nowPlaying.artist.stats.pledged_amount}} Raised!  
          </p>
          <a href="javascript:void(0);">
            <input type="button" class="greenbtn" value="Get More Information" ng-click="loadArtistSubPage('funding');"/>
          </a> 
        </div>
      </div>   
    
    </div><!--songlist_holder ends-->
  </div><!--rightcol ends-->    
<div class="cfix"></div>  

</div>