<div class="content np">
  <div class="songlist_holder" ng-controller="SettingsCtrl">
    <div class="fs24 m10"> Configure
     Crowd-Doer Levels</div>
    <form name="settingsFrm">
      <table border="0" class="songlist" width="100%">
      <tbody><tr>
        <th scope="col" width="55%">Level Name</th>
        <th scope="col" width="15%">Enable</th>
      </tr>
      
      <tr ng-repeat="level in crowd_levels">
            <td valign="top">
              <a href="javascript:void(0);" show-crowd-doer ="">{{level.level_name}} </a>
            </td>
            <td valign="top">
              <input type="checkbox" value="{{level.id}}" ng-model="selectedLevels[level.id]" name="selectedLevels" ng-checked="level.is_selected" />
            </td>
      </tr>
      <tr> 
        <td> Total Views / Goal </td>
        <td> {{stats.shares + "/" + stats.sharing_goal}} </td>
      </tr>
      <tr>
        <td> Total Funding/ Goal </td>
        <td> {{stats.pledged_amount + "/" + stats.goal_amount}} </td>
      </tr>
      <tr>
        <td> #Users who shared </td>
        <td> {{stats.users_shared}} </td>
      </tr>
      <tr>
        <td> #Users who funded </td>
        <td> {{stats.number_of_supporters}} </td>
      </tr>
      </tbody></table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="signuptable">
          <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
              <input class="greenbtn" type="button" href="javascript:void(0)" ng-click="updateSupporterLevels()" ng-disabled="settingsFrm.$invalid " style="padding:10px; font-size:14px; letter-spacing:0;" value="Update"/>
            </td>
          </tr>
      </table>
    </form>  
    <div class="cfix"></div>  
  
    <div class="crowd-doer-overlay">
      <div class="crowd-doer-popup">
        <div class="crowd-doer-heading">Crowd-Doers</div>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td></td>
            <td>Sharing</td>
            <td>Funding</td>
            <td>Perks</td>
            <td>Max Participants</td>
          </tr>
          <tr ng-repeat = "level in crowd_levels">
            <td>{{level.level_name}}</td>
            <td>{{level.shares}}</td>
            <td>{{level.funding}}</td>
            <td ng-bind-html = "level.perks"></td>
            <td>{{level.max_participants}}</td>
          </tr>      
        </table>
      </div>
    </div>
  </div> <!-- Closing songlist holder div -->
</div>