!!!
%html{"data-ng-app" => "app", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title BVIP Pages
    %meta{:content => "app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "stylesheets/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/animate.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/simple-line-icons.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/font.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/app.css", :rel => "stylesheet", :type => "text/css"}/
  %body{"ng-controller" => "AppCtrl"}
    #app.app{"ng-class" => "{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}", "ui-view" => ""}
    / jQuery
    %script{:src => "vendor/jquery/jquery.min.js"}
    / Angular
    %script{:src => "vendor/angular/angular.js"}
    %script{:src => "vendor/angular/angular-animate/angular-animate.js"}
    %script{:src => "vendor/angular/angular-cookies/angular-cookies.js"}
    %script{:src => "vendor/angular/angular-resource/angular-resource.js"}
    %script{:src => "vendor/angular/angular-sanitize/angular-sanitize.js"}
    %script{:src => "vendor/angular/angular-touch/angular-touch.js"}
    / Vendor
    %script{:src => "vendor/angular/angular-ui-router/angular-ui-router.js"}
    %script{:src => "vendor/angular/ngstorage/ngStorage.js"}
    / bootstrap
    %script{:src => "vendor/angular/angular-bootstrap/ui-bootstrap-tpls.js"}
    / lazyload
    %script{:src => "vendor/angular/oclazyload/ocLazyLoad.js"}
    / translate
    %script{:src => "vendor/angular/angular-translate/angular-translate.js"}
    %script{:src => "vendor/angular/angular-translate/loader-static-files.js"}
    %script{:src => "vendor/angular/angular-translate/storage-cookie.js"}
    %script{:src => "vendor/angular/angular-translate/storage-local.js"}
    / App
    %script{:src => "js/app.js"}
    %script{:src => "js/config.js"}
    %script{:src => "js/config.lazyload.js"}
    %script{:src => "js/config.router.js"}
    %script{:src => "js/main.js"}
    %script{:src => "js/services/ui-load.js"}
    %script{:src => "js/filters/fromNow.js"}
    %script{:src => "js/directives/setnganimate.js"}
    %script{:src => "js/directives/ui-butterbar.js"}
    %script{:src => "js/directives/ui-focus.js"}
    %script{:src => "js/directives/ui-fullscreen.js"}
    %script{:src => "js/directives/ui-jq.js"}
    %script{:src => "js/directives/ui-module.js"}
    %script{:src => "js/directives/ui-nav.js"}
    %script{:src => "js/directives/ui-scroll.js"}
    %script{:src => "js/directives/ui-shift.js"}
    %script{:src => "js/directives/ui-toggleclass.js"}
    %script{:src => "js/directives/ui-validate.js"}
    %script{:src => "js/controllers/bootstrap.js"}
    / Lazy loading