<table border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="60">
        <a href="javascript:void(0)" ng-click='play()' class="play">play</a>
      </td>
      <td width="260px">
        <a href="javascript:void(0)" class="songtitle">{{audio.title}}</a>

        <a href="javascript:void(0)" class="adtoplaylist active" ng-show="isInPlaylist() == true"><div class="adarrows">In your Playlist</div></a>

        <a href="javascript:void(0)" class="adtoplaylist" ng-click="addMediaToPlaylist($event)" ng-show="isLoggedIn() && !isInPlaylist()"><div class="adarrows">Add to Playlist</div></a>
        <br>{{audio.meta_data.length}} | {{audio.stats.plays}} plays
      </td>

      <td align="right" valign="top">
        <a href="javascript:void(0)" class="delbtn" ng-click="removeAudio()" ng-show="isOwnProfile() == true">Delete</a>
        <div>
          <a href="javascript:void(0)" class="like active" ng-show="isAlreadyLiked() == true"><span>{{audio.stats.likes}}</span><div class="adarrows">Like</div></a>
          <a href="javascript:void(0)" ng-click="like()" class="like" ng-hide="isOwnProfile() == true || isAlreadyLiked()"><span>{{audio.stats.likes}}</span><div class="adarrows">Like</div></a>
          <a href="javascript:void(0)" ng-click="share()" class="shareicon"><div class="adarrows">Share</div></a>
        </div>
      </td>      
    </tr>
  </tbody>
</table>
<audio controls style="display: none">
   <source ng-src="{{audio.url}}" type='audio/ogg'>
   <source ng-src="{{audio.url}}" type='audio/ogg; codecs=vorbis'>
</audio>
