<div class="uploadForm">
  <form name="audioUploadFrm" ng-init="media = {image: {}, audio: {}}">	
  <table class="signuptable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
	    <td width="25%" align="right" valign="top">Song :</td>
	    <td width="75%" valign="top" ><a href="javascript:void(0)" class="greybtn audio_button">Upload</a>
	    <input class="audio_song" accept="audio/*" type="file" name="file" style="width:10px;opacity:0"/>
	    <div class="progressbar" style="width: 100px;display: none;">
		  <div class="audio_bar"></div></div>
		  <span class="song_name"></span>
	    </td>
	  </tr>
	  <tr>
	    <td align="right" valign="top">Song Title:</td>
	    <td valign="top"><input type="text" class="audio_title" ng-model="media.audio.title" ng-required ="is_audio_entered == true"/></td>
	  </tr>
      <tr>
	    <td align="right" valign="top">Song Description:</td>
	    <td valign="top"><textarea cols="45" rows="5" ng-model="media.audio.desc" ng-required ="is_audio_entered == true"></textarea></td>
	  </tr> 
	  <tr ng-show="showAudioUpload">
	    <td align="right" valign="top">
	    	<button class="savebtn" href="javascript:void(0)" ng-click="uploadAudio()" ng-disabled="audioUploadFrm.$invalid || isAudioFormInValid() || disableSubmit">Save</button>
	    </td>
	    <td>
	    	<a class="f12" href="javascript:void(0)" ng-click="resetAudioForm();">Cancel</a>
	    </td>
	  </tr> 
    </tbody>
  </table>
  </form>
</div>