<div class="ticketsold">{{contest.total_seats - contest.available_seats}}<div class="f11">Tickets Sold!</div></div>
<p class="fs24 bold">{{contest.start_time | date:'MMMM dd, h:mm a '}}</p>
<p>Come join the founding members of {{artist.first_name + artist.last_name}} as they talk about how they got started and what inspires them.</p>
<a href="javascript:void(0)" ng-click = buy()>
	<input type="button" value="Buy Tickets" ng-disabled="disableSubmit" class="greenbtn" />
</a>
<p class="fineprint">Note: If the artist makes it to funding round, your ticket price will be credited to their Funding goals.</p>
</div>