<div ng-transclude>
  <div>
  	<div class="img_upload m10">
  	  <div class="file_upload_cntr">
  	  	<input class="cloudinary-fileupload add_files" data-cloudinary-field="image_upload" data-form-data="{{formData}}" name="file" style="opacity:0; width:1px; height:0px;" type="file"/>
	  	
	  	<a href="javascript:void(0)" class="select_image imageTitle" ng-click="startUpload()" ng-hide="isUploadInProgress()">Front Image</a>
	  </div>	
	  <div class="preview" align="center">
		<img src="" class="crop_preview" alt="Preview" style="display:none;"/>
	  </div>
	  <img class="croppedImg" style="display:none; margin: auto; max-width: 145px;"/>

	  <a href="javascript:void(0)" ng-show="showCrop()" class="crop show" style="display:none;" ng-click="toggleCrop()">crop</a>

	  <a href="javascript:void(0)" ng-show="isCropEnabled()" class="crop save" ng-click="crop()">save</a>
	  <a href="javascript:void(0)" ng-show="isCropEnabled()" class="reset cancel" ng-click="toggleCrop()">cancel</a>

	  <!-- <a href="javascript:void(0)" ng-show="cropDone" class="reset" style="display:none;" ng-click="resetCrop()">reset crop</a> -->
  	</div>

	<div class="progressbar" style="width: 100px; display: none;">
	    <div class="photo_bar">
	</div>
  </div>
</div>