<div>
	<a href="javascript:void(0)" class="f12 bold previewTxt" ng-click="showPreview();">Preview Flipcard</a>

	<div class="black_overlay imgPreview" style="display:none;">
		<div class="overlay_content">
			<div class="hover panel" style="width: 290px;margin:auto;">
			  <div class="front">
			    <div class="pad">
			      <img ng-src="{{frontImage}}" alt="Front Image" style="width:290px;">    
			    </div>
			  </div>
			  <div class="back" style="background:url({{backImage}}) no-repeat center rgba(0,0,0,0.9); background-size:100%; cursor:pointer; width:100%; height: 100%">
			  </div>
			</div>
			<a href="javascript:void(0)" class="overlay_close" ng-click="closePreview();"></a>
		</div>	
	</div>	
</div>