<div class="content">
	<div class="intro-background">	    
	    
	    <br> 
	</div>
	<div class="cfix"></div>
	<div >
        <h3>buffered ngRepeat with auto-slide and builtin indicators </h3>
        <div class="details">
        </div>
        <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-buffered class="carousel2">
                        <li ng-repeat="slide in slides2 track by slide.id" ng-class="'id-' + slide.id">
                            <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                            sdfdsf
                              #{{ slide.id }}
                            </div>
                        </li>
                    </ul>
    </div>	
</div>
<div class="cfix"></div>  