<table border="0" class="songlist" cellspacing="0" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td width="47%" ng-click='play()'>
        <img src="/images/nowplaying.png" width="14" height="14" class="nowplaying" ng-show="is_playing == true">
        {{media.title}}
      </td>
      <td width="15%">
        {{media.meta_data.length}}
      </td>
      <td width="34%" style="text-align:right;">
        {{media.artist_info.first_name}} {{media.artist_info.last_name}}
      </td>
      <td width="3%" align="right" valign="top">
        <a href="javascript:void(0)" class="delbtn" ng-click="delete()" title="Remove from Playlist"></a>
      </td>
    </tr>
  </tbody>
</table>
<audio controls style="display: none">
   <source ng-src="{{media.url}}" type="audio/ogg">
   <source ng-src="{{media.url}}" type="audio/ogg; codecs=vorbis">
</audio>