<div class="uploadForm">
<form name="videoUploadFrm" ng-init="media = {video: {}}">
<table class="signuptable" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
      <tr>
	    <td width="25%" align="right" valign="top">Video Link :</td>
	    <td width="75%" valign="top"><input class="videoUrl" type="url" ng-model="media.video.url"></td>
	  </tr>
	  <tr>
	    <td align="right" valign="top">Video Title:</td>
	    <td valign="top"><input type="text" ng-model="media.video.title" ng-required = "media.video.url && media.video.url != ''"/></td>
	  </tr>
      <tr>
	    <td align="right" valign="top">Video Description:</td>
	    <td valign="top"><textarea cols="45" rows="5" ng-model="media.video.desc" ng-required = "media.video.url && media.video.url != ''"></textarea></td>
	  </tr> 
	  <tr ng-show="showVideoUpload">
	    <td align="right" valign="top">
	    	<button class="savebtn" href="javascript:void(0)" ng-click="uploadVideo()" ng-disabled="videoUploadFrm.$invalid || isVideoFormInValid() || disableSubmit">Save</button>
	    </td>
	    <td>
	    	<a class="f12" href="javascript:void(0)" ng-click="resetVideoForm();">Cancel</a>
	    </td>
	  </tr> 
    </tbody>
  </table>
  </form>
</div>
